html {
  background: white;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 1em;
	background-color: DodgerBlue;
  color: black;
  text-align: center;
  font-size: 140%;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	background-color: DodgerBlue;
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}


/*nav formatting*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: LightGray;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  color: black;
}
/*end nav formatting*/

p, article {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

img {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
}
