* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gentium Basic', serif;
    font-size: 16px;
    justify-content: flex-start;
    flex-direction: column;
}

a {
  color: blue;
}

.uppercase {
  text-transform: capitalize;
}

h1, h2, h3, nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding-right: 6rem;
    padding-left: 6rem;
}

h1, h2, h3 {
    text-transform: uppercase;
    margin-bottom: .5rem;
}

/** Header **/
header {
    background-color: #6d6fae;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
}

header img {
    width: 300px;
}


/** Navbar and drop-downs **/
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 2rem;
    background-color: #6d6fae;
    color: white;
    position: relative;
}

nav div.dropdown {
    padding: 8px 0 8px 16px;
    font-size: 16px;
    line-height: 16px;
    width: 15%;
    position: relative;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: #eaebf7;
    margin-bottom: .5rem;
}

.dropdown-content {
    display: none;
    background-color: #999acc;
    position: relative;
    padding: .5rem
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 32px
}

div.dropbtn {
    font-size: 16px;
    line-height: 16px;
    background-color: transparent;
    color: #ffffff;
    text-transform: none;
    cursor: pointer;
}

main {
  background-color: white;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;

}

aside {
  width: 25rem;
}

/** Stuff in the main body **/
.scroll {
  width: 12.5rem;
  text-align: center;
}
.article p {
    margin-bottom: 1em;
}

.fables {
    width: 50%;
}

.article {
  text-align: left;
}

.moral {
    font-style: bold;
}

.link-to-source {
    opacity: .5;
}

#about-aesop {
    background-color: #fffbd5;
    padding: 1em;
    margin-bottom: 2rem
}


/* Footer */
footer {
    background-color: #cfc354;
    color: black;
    height: 12em;
    text-align: center;
    padding-top: 5rem;
    padding bottom: 5rem;
    font-size: 1em;
    padding-right: 6em;
    padding-left: 6em;
}